absl-py==0.13.0
astor==0.8.1
backports.weakref==1.0.post1
bleach==1.5.0
dataclasses==0.8
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
gast==0.5.2
grpcio==1.39.0
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.6
Markdown==2.6.11
mock==2.0.0
numpy==1.14.3
pbr==5.6.0
Pillow==5.1.0
protobuf==3.17.3
PyYAML==5.4.1
scipy==1.0.1
six==1.16.0
subprocess32==3.2.7
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.11.10
