parser.tab.o
main.o
asyntax.o
lex.yy.o
tables.o
operators.o
invariants.o
intsets.o
cleanup.o
translate2sat.o
scc.o
clausesets.o
printplan.o
clausedb.o
dimacsinput.o
ground.o
parser.tab.c
parser.tab.h
lex.yy.c
zPRINTDATE
MpC
